<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <script type="text/javascript" src="./js/login.js"></script>
    <script type="text/javascript" src="./js/Test.js"> </script>
    <script type="text/javascript" src="./js/jquery-3.4.1.js"> </script>

    <style>
        ul li{
            list-style:none;
        }
        .max{
            width:300px;
            height:200px;
            /*border: 1px solid;*/
            margin:300px auto;
            padding-top:10px;
        }
        .box{
            margin-top: 10px;
        }
        #login{
            margin-left: 30px;
        }
        #logout{
            margin-left: 30px;

        }
        .box{
            margin:160px auto;
        }


    </style>
</head>
<body>
      <h1><%= ti %></h1>
    <div class="box">
        <img src=" <%= src  %>" alt="" height="60" width="40" >


    </div>


</body>
</html>