<!DOCTYPE html>
<html>
<head>
	<title>聊天室</title>
	<style type="text/css">
		body{
			/*background:url('https://img.ivsky.com/img/tupian/pre/201611/20/shouna_kongbai_mingpian-019.jpg') ;*/
			background-color:rgb(247,238,214);
			background-size:1650px 950px;

		}
		li{
			list-style:none;
		}
		.box{
			/*border:1px solid;*/
			width:300px;
			height:600px;
			margin-top:-29px;
			margin-left:600px;  
			/*background-color:rgb(255,250,240);*/
			position:relative;
			/*transform: rotate(-5deg);*/
		}
		.box2{
			width:210px;
			height:40px;
			background-color:#F1C40F;
			font-size:30px;
			font-weight: bold;
			color:white;
			padding-left:151px;
			padding-top:0px;

		}
		.box3{
			float:left;
			width:928px;
			height:40px;
			position:absolute;
			bottom:10px;
			top:712px;
			left:-500px;

			/*transform: rotate(5deg);*/


		}
		li{
			font-size:18px;
		}
		input{
			width:1050px;
			height:40px; 
			padding-left:30px;
			font-size:24px;
			margin-top:-160px;
			margin-left:100px;
		}
		.list-group{
			/*border:1px solid;*/
			max-height: 300px;
			overflow: hidden;
		}
		#btn{
			width:60px;
			height:40px;
			outline:none;
			list-style: none;
		}
		.box4{
			width:300px;
			height:150px;
			background-color:rgb(255,250,240);
			font-size:30px;
			position:absolute;
			top:100px;
			left:-10px;
			padding-top:48px;
			padding-left:90px;
			/*border: 1px solid;*/
			display:none;
		}
		#nok{
			margin-left:40px;
			border-style: none;
			width:100px;
		}
		#ye{
			margin-left:20px;
			width:51px;

		}

		.uls{
			border:1px solid;
			width:185px;
			height:40px;
			padding-left:61px;
			font-size:20px;
			color:white;
			font-weight: bold;
			position: relative;
			top:-677px;
			margin-left:1100px;
		}
		.room{
			/*border:1px solid white;*/
		

			width:250px;
			/*height:550px;*/

			position:relative;			
			margin-left:200px;
			top:-33px;
		}
		.fre{
			position: relative;
			top:-660px;
			margin-left:1135px;
		}
		.fj{
			margin-left:283px;
			position: relative;
			top:-17px;
		}
		.rooms{
			float:left;
		}
		.room1{
			width:50px;
			height:42px;

			position:relative;			
			margin-left:0px;
			top:-33px;
		}
		.opt{
			/*height:42px;*/
			border:1px solid green;
			width:110px;
			height:40px;
			font-weight: bold;
			background-color:rgb(255,250,240);
			font-size:20px;
			padding-left:61px;
			padding-top:11px;
		}
		.opt:hover{
			cursor:pointer;
		}
		.head{
			position: relative;
			top:100px;
		}


	</style>
</head>
<body id="bd">
	<!-- <img src="/文档/文档/project/talk/2.jpg"> -->
		<span class="head">在线用户:</span><div class="onlines head" ></div>
		
	<div class="box">
			<p>
			<a href="/qunliao/?a=kkkkkkk">群聊室１</a>
			</p>
		<div class="box2">
			<!-- 欢迎<small id="ip"><%=ip%></small>贵宾 -->
			<small id="ip" font-size="30" id="joi">大厅</small>
			
			<!-- <h5 class="dat">大厅</h5> -->

		</div>
		<ul class="list-group" id="list">
			<li class="list-group-item" id="fayan">还没有人发言...</li>
		</ul>
		<div class="box3" >
			<input type="text" id = "msg" placeholder="按回车发送消息">
			<!-- <button id="btn">发送</button> -->
			
		</div>
		
		<div class="box4" id="box4">
			<span>添加他为好友？</span>
			<form action="http://192.168.28.71:4000">
			<input type="hidden" name="b" value="" id="bip">
			<input type="hidden" name="a" value="<%= name %>" id = "a">
			<input type="hidden" name="mark" value="" id = "mark">
			<button id="ye">知道了</button>
			</form>
		</div>
			
	</div>
				<h2 font-color="white" class="fre">好友列表</h2>
	<select class="uls ul" id = "optname">
			<% for(var k = 0;k < list.length;k++ ){  %>
				<option class="opt"><%= list[k].name %></option>
			<% } %>
		</select>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/jquery.min.js"></script>
	<script type="text/javascript">

			
			var box4 = document.getElementById('box4');
			var dojoin = document.getElementById('dojoin')
		
		// 得到 socket对象
		var socket = io();
		// var name = prompt('请输入用户名');
		socket.emit('news',name);
		$('#btn').click(function(){
			// console.log(ip.html());
			// 将文本框内容发送到服务器
			// console.log(name);

			socket.emit('clientOut',{
				name:name,
				msg:$('#msg').val(),
				ip:$('#ip').html()
			});
			$('#msg').val("");
		});


		var nameuser = '';
		// 接受服务器发来的ip
		socket.on('newsOut',function(name){
			nameuser = name;
			var html = '<li class="list-group-item text-primary" id="hidd" style="display:none;"><b>'+nameuser+'</b> : '+'加入了房间'+'</li>';
			alert(nameuser + '加入了房间');
			// var html = ''
			// 最前插入最新消息
			$(".list-group").append(html);
		})

		socket.on('online',function(onlineUser){
			console.log(onlineUser)
			for(var j = 0; j<onlineUser.length;j++){
				var html = '<h4>'+onlineUser[j]+'</h4>'
				$(".onlines").prepend(html);

			}

		})

		// enter 发送
		    // 回车发送消息
		    $('#msg').keydown(function(e){
		    	if(e.keyCode == 13){
			        if(msg.value==''){
			    		alert('不允许发送空文本！');
			    	}
					console.log('发送人'+nameuser);
					
		            // 把文本框的内容发送到服务器
		            socket.emit("clientOut",{
		            	"nameusers":nameuser,
		                "msg" : $("#msg").val(),
		                "ip" : $("#ip").html()
		            });
		            $('#msg').val("");
		
		        }
		    });

		// 接受服务器发来的消息
		socket.on('serverOut',function(serverMsg){
			if (serverMsg == '404') {
           		console.log('内容是：'+serverMsg);
				var html = '<li class="list-group-item text-primary"><b>sorry</b> 查无此人</li>';
            }else{
			console.log("前台是："+serverMsg);
			fayan.style.display = "none";
            var names = serverMsg['nameusers'];
            var massage = serverMsg['msg'].split(':')[2];
            var model = serverMsg['msg'].split(':')[0];
            if(model == '@'){          
					var html = '<li class="list-group-item text-primary"><b>'+names+'</b> : '+massage+'</li>';         	

			}else{
					var html = '<li class="list-group-item text-primary"><b>'+serverMsg['nameusers']+'</b> : '+model+'</li>';
			}
		}


			// 最前插入最新消息
			$(".list-group").prepend(html);
		})

		// 接受离开房间的消息
		socket.on('outOut',function(outOut){
			console.log(outOut);
			alert(outOut);
		})



		list.addEventListener('click',function(e){
			box4.style.display = "block";
			nickname = e.target.innerHTML;

            console.log(e.target.innerHTML);
        })
		ye.onclick = function ye(){
			if(nickname==a.value){
				alert('不能重复添加');
				box4.style.display = "none";
				return false;
			}else{
				bip.value = nickname;
				mark.value = 1;
			// return false;
			alert("添加成功");
			// history.go(-3);
			console.log('同意：'+ nickname);

			}
			
		}

		nok.onclick = function noy(){
			box4.style.display = "none";
			socket.emit('joinuser','666');
			// return false;


		}



	</script>

</body>
</html>


